.backph{
    background: url('./../../assets/background.jpg');
}
.lightproback{
    background: url('./../../assets/lightproback.jpg');
}
.darkproback{
    background: url('./../../assets/darkproback.jpg');
}